body {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
  max-width: 500px;
  margin: 0px auto;
}

h1 {
  margin: 4px 0;
  font-size: 36px;
}

header {
  border-bottom: 1px solid #ccc;
  position: relative;
}

#source-link {
  position: absolute;
  right: 1em;
  top: 0.5em;
}

.correct,
.present,
.absent {
  color: #fff !important;
}

#board.game-over .correct,
.row.scored.hint .correct,
button.correct {
  background-color: #6aaa64 !important;
}

#board.game-over .present,
.row.scored.hint .present,
button.present {
  background-color: #c9b458 !important;
}

#board.game-over .absent,
.row.scored.hint .absent,
button.absent {
  background-color: #787c7e !important;
}

.active {
  background-color: #fff !important;
}

.row.scored .correct,
.row.scored .present,
.row.scored .absent {
  background-color: rgb(110, 144, 163) !important;
}
